* {
  margin: 0;
  padding: 0; }

@keyframes aparecer {
  /*efecto de aparicion titulos paginas*/
  0% {
    opacity: 0%; }
  50% {
    opacity: 50%; }
  100% {
    opacity: 100%; } }

.header, .footer {
  /*navbar y logo de pagina*/
  background-image: linear-gradient(to left, #151616, #023233);
  margin: 0;
  padding: 0;
  height: 7rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0; }
  @media only screen and (max-width: 600px) {
    .header, .footer {
      flex-direction: column;
      height: 150px; } }
  .header__logo {
    /*logo de la pagina*/
    font-family: fantasy;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: whitesmoke; }
    @media only screen and (max-width: 600px) {
      .header__logo {
        font-size: 0.9rem; } }
  .header__logo:hover {
    color: whitesmoke; }
  .header__lista {
    display: flex;
    list-style: none;
    color: whitesmoke;
    text-align: center; }
    @media only screen and (max-width: 600px) {
      .header__lista {
        flex-direction: column;
        padding-top: 1px; } }
  .header__item {
    margin-right: 10px; }
  .header__link {
    display: flex;
    font-size: 1.2rem;
    text-decoration: none;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
    @media only screen and (max-width: 600px) {
      .header__link {
        font-size: 0.9rem;
        padding-top: 1.2px; } }
  .header__link:hover {
    color: yellow; }

.footer {
  /*redes sociales*/
  justify-content: space-around; }

.titulosDePagina {
  /*titulos de las paginas*/
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 15px 15px 0px 15px;
  font-size: 4rem;
  animation-duration: 2s;
  animation-name: aparecer; }

.cajaComponentes {
  /*main de pagina componentes y titulos de componentes*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .cajaComponentes__titulos {
    border-top: 5px solid #0883ca;
    border-bottom: 5px solid #0883ca;
    margin: 20px 60px 50px 60px;
    padding: 5px 5px 5px 5px;
    font-family: fantasy;
    font-size: 30px; }
  .cajaComponentes__cardProduct {
    margin: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    width: 330px;
    height: 250px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: all 0.25s; }
  .cajaComponentes__cardProduct:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }
  .cajaComponentes__imagen {
    margin-bottom: 15px; }
  .cajaComponentes__productos {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px; }

.imagenesInicio {
  /*imagenes de el carrousel*/
  width: 100%;
  height: 800px; }

.mainClientes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around; }

.clientesProductos {
  height: 300px;
  width: 300px; }

.nombresDeTrabajos {
  color: whitesmoke;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #0adae9;
  text-align: center; }
  .nombresDeTrabajos__descripcion {
    color: whitesmoke;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #0adae9;
    text-align: center; }

.cardClientes {
  height: 400px;
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  text-align: center; }
